@charset "UTF-8";
body {color: #000;}
a {color: inherit; text-decoration: none;}
a:hover {color: inherit; text-decoration: none;}
input:focus {outline:none;}

#warp {width: 100%; height: 100%;}
header {height: 60px; border-bottom: 1px solid #DBDBDB;}
header .box-800 {width: 800px; height: 100%; margin: auto;}
.search-group {width: 268px; height: 36px; margin: 12px 0;}
#keyword {width: 268px; height: 36px; background-color: #EFEFEF; font-size: 10pt;
  color: #000000; border: none; border-radius: 10px; padding: 10px;}
.search-icon {position: absolute; padding: 8px;}
.user {width: 24px; height:24px; border-radius: 12px; background-color: #EFEFEF;}
.menu-icon {width: 250px;}

.contents {padding: 50px;}
.sign-up-box {width:350px; padding: 30px; margin: 70px 0; border: 1px solid #DBDBDB; background-color: #fff;}
.sign-up-box input {height: 36px; font-size: 12px;}
.input-label {position: absolute; padding: 8px 13px; color: #787878; font-size: 12px;}
.confirm-msg {font-size: 12px;}
#join-btn {background-color: #0095F6; color: #fff;}


footer {height: 100px; color: #A3A3A3;}